body {
    background-color: grey;
}

div{
    width: 300px;
    height: 300px;
	margin: 30px;
	border-left: dotted 10px black;
	border-bottom: dotted 10px black;
	border-right: dotted 10px black ;
}

.red {
    background-color: blue;padding-left: 20px;width: 280px;
}

.blue {
    background-color: red;
}

.yellow {
    background-color: yellow;
}
